[Unit]
Description=kiln-controller

[Service]
ExecStart=__KILN_DIR__/venv/bin/python __KILN_DIR__/kiln-controller.py

[Install]
WantedBy=multi-user.target
